/***** BASE STYLES *****/
body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Code Pro', monospace;
  background: #1d212b;
  color: #ffffff;
}

/***** GRID *****/
.full-width{
  width:1400px;
  margin: auto;
}
.half-width{
  width: 700px;
  margin: auto;
  float:left;
}
/***** HEADER *****/
head{
  background: url('../img/hero-background.png');
  background-size: cover;
  height: 720px;
}
h1{
  padding: 300px 100px;
}
nav ul li a{
  color:#ffffff;
  font-size: 24px;
  text-transform: lowercase;
  text-decoration: none;
  padding-left: 10px;
}
nav ul li{
  display: inline-block;
}

/***** Portfolio Section *****/

/***** About section ******/
#about h3{
  text-align: center;
}
#about p{
  width:600px;
  padding-left: 100px;
}
