/***** BASE STYLES *****/
body{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-family: 'Orbitron', sans-serif;
  background: #000000;
  color: #ffffff;
}
span{
  color:#ffff66;
}

/***** GRID *****/
.full-width{
  width:1200px;
  margin: auto;
}
.half-width{
  width: 600px;
  margin: auto;
  float:left;
}
.third-width{
  float: left;
  margin-left: 0 auto;
  width: 400px;
}
/***** HEADER *****/
header{
  border-bottom: dotted #000000 5px;
}
nav ul li a{
  color:#ffffff;
  font-size: 24px;
  text-transform: lowercase;
  text-decoration: none;
  padding-left: 10px;
}
nav ul li{
  display: inline-block;
}
/***** cool *****/
#cool{
  background:url('../img/dtla.png');
  background-size: cover;
  height: 725px;
  width:1400px;
  margin-top: 35px;
  margin-left: 200px;
}
#cool h1{
  padding: 300px 1px;
  width:300px;
  margin:10px;
}
/***** Portfolio Section *****/
#portfolio h3{
  color:#ffff66;
  text-align:center;
  height: auto;
}
#portfolio{
  height:1175px;
  padding-left: 100px;
}
.rogue{
 padding: 0px 100px;
}
.jubilee{
  width:1200px;
  height:425px;
  clear:both;
  text-align: right;
  padding-left: 100px;
}
/***** About section ******/
#about{
  height:550px;
  background-image:url('../img/about-me.png');
  background-size: cover;
}
#about h3{
  text-align: center;
  color: #ffff66;
}
#about p{
  width:600px;
  padding-left: 100px;
  margin-top: 100px;
  font-weight: bold;
}

/***** Footer *****/
#Contact{
  text-align: center;
  float: left;
  height: 450px;
}
#contact .hire{
  width: 400px;
  float: left;
  margin-top: 50px;
}
#contact .hire h4{
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
#contact .hire p{
  text-align: center;
}
#contact .hire a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
}
#Contact .hire h3{
  text-align: center;
  margin-left: 50px;
}
#contact .socialmedia{
  width: 400px;
  float: left;
  text-align: center;
}
#contact .socialmedia h4{
  text-decoration: underline;
}
#contact .location{
  width: 400px;
  float: left;
  border: solid 10px pink
  text-align: center;
  margin-top: 50px;
}
#contact .location h4{
  margin-left: 150px;
  text-decoration: underline;
}
#contact .location p{
  margin-left: 110px;
}
#contact ul li{
  display: inline-block;
}
#contact ul{
  list-style: none;
}
